{% extends "header.html" %}
{% block title %}New Post{% endblock %}
{% block content %}
<div class="middle-box">
    <h3>New Post</h3>
    <form method="post">
        <label>
            <p>Subject</p>
            <input type="text" name="subject" value="{{subject}}">
        </label>
        <label>
            <p>Blog</p>
            <textarea name="content">{{content}}</textarea>
        </label>
        <br>
        <input type="submit">
    </form>
    <div class="error">
        {{error}}
    </div>
</div>
{% endblock %}